:root{
  --main-color:#ffbf51;
  --gray:#d4d4d4;
}
.header{
  background-color:var(--main-color);
  padding-bottom:20px;
  margin-bottom:20px;
  padding-top:20px;
}
.search-bar{
  --border-width:3px;
  border: solid var(--border-width) gray;
  border-radius:5px;
  background-color:white;
  padding:var(--border-width);
}
.search-bar input[type=submit]{
  display:none;
}
.search-bar input[type=text]{
  width:90%;
  border:none;
}
.search-bar label{
  padding-right:5px;
  padding-left:5px;
  border-right:solid 1px black;
}

.glyphicon-upload{
  font-size:30px;
  color:black;
}
.glyphicon-upload:hover{
  color:white;
}
.header .col-md-6:nth-of-type(2){
  text-align:right;
}
