:root{
  --main-color:#ffbf51;
  --gray:#d4d4d4;
}
.header{
  background-color:var(--main-color);
  padding-bottom:20px;
  margin-bottom:20px;
  padding-top:20px;
}
/*.search-bar{
  --border-width:3px;
  border: solid var(--border-width) gray;
  border-radius:5px;
  background-color:white;
  padding:var(--border-width);
}*/
.search-bar input[type=submit]{
  display:none;
}
.search-bar input[type=text]{
  width:90%;
  /*border:none;*/

  border-radius:0px 5px 5px 0px;
  border:solid 3px gray;
  border-left:none;
  background-color:white;
  padding-bottom:3px;
  padding-top:2.5px;
  position:relative;
  margin-left:-4px;
}
.search-bar label{
  /*padding-right:5px;
  padding-left:5px;
  border-right:solid 1px black;
  background-color:white;
  transition:background-color 0.3s ease;
  border-radius:5px 0px 0px 5px;
  padding:3px;*/

  border-radius:5px 0px 0px 5px;
  border:solid 3px gray;
  background-color:white;
  padding:3px;
  padding-right:5px;
  padding-left:5px;
  border-right:solid 1px black;
  transition:background-color 0.3s ease;
}
.search-bar label:hover{
  background-color:var(--gray);
}

.glyphicon-upload{
  font-size:30px;
  color:black;
}
.glyphicon-upload:hover{
  color:white;
}
.header .col-md-6:nth-of-type(2){
  text-align:right;
}
