:root{
  --main-color:#ffbf51;
  --gray:#d4d4d4;
}

.hasColoredBG
{
	margin: auto;
    width: 300px;
	border-radius: 25px;
    background-color: #ffffff;
	text-align: center;
    padding: 20px;
    width: 250px;
    height: 150px;
}

.noBG
{
	margin:auto;
    width: 300px;
	border-radius: 25px;
    background-color: #ffcc99;
	text-align: center;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.vertcenter
{
	padding = 70px;
}

.firstpart
{
	background-color: #66ccff;
}
.firstpart1
{
	background-color: #66ccff;
	text-align: right;
}
.firstpart2
{
	background-color: #66ccff;
	text-align: center;
	max-width= 400px;
	margin: auto;
}

.secondpart
{
	background-color: #ffcc99;
}
.secondpart1
{
	background-color: #ffcc99;
	text-align: left;
}
.secondpart2
{
	background-color: #ffcc99;
	text-align: center;
	max-width= 400px;
	margin: auto;
}
.secondpart3
{
	background-color: #ffcc99;
	text-align: right;
}


.thirdpart
{
	background-color: #99ff99;
}
.thirdpart
{
	background-color: #99ff99;
	text-align: right;
}
.thirdpart2
{
	background-color: #99ff99;
	text-align: center;
	max-width= 400px;
	margin: auto;
}
.part1
{
	text-align: left;
}

.part2
{
	text-align: center;
	max-width= 400px;
	margin: auto;
}

.foot
{
	text-align: center;
}

.para
{
	font-size: 24px;
}

/*div
{
	height: 400px;
}*/
