.search-field{
  background-color:var(--gray);
  border-radius:5px;
  margin-left:5px;
  padding:7px;
}
.result{
  background-color:var(--gray);
  border-radius:5px;
  padding:7px;
  margin-bottom:10px;
}
.result:hover{
  /*border:solid 1px var(--main-color);*/
  box-shadow:0px 0px 4px var(--main-color);
}
.alternate{
  background-color:var(--lighter);
}
.result .topic{
  font-weight:bold;
}
.result a{
  color:var(--darker);
}
.rating{
  width:50px;
  height:50px;
}
